
/* Background */

.background { 
    top: 0vw;
    left: 0vw;
    right: 0vw;
    height: 52vw;
    filter: brightness(75%)
}

/* Subheader */

.subheader{
    top: 32vw;
    left: 7vw;
    right: 7vw;
    font-size: 5vw;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

/* Overview */

.mainbody{
    top: 52vw;
    left: 0px;
    right: 0px;
    background-color: rgb(255, 255, 255);
    height: 25vw;
}

    .overview {
        left: 10vw;
        right: 10vw;
        top: 5vw;
        text-align: center;
    }

    .subline {
        font-size: 2vw;
        left: 10vw;
        right: 10vw;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        line-height: 3vw;
    }

    .buttonbody {
        left: 15vw;
        right: 15vw;
        height: 5vw;
        bottom: 0vw;
        font-size: 1.5vw;
        text-align: center;
    }

        .line {
            top: 0vw;
            width: 100%;
            background-color: rgb(177, 177, 177);
            height: .15vw;
        }

        .buttons {
            text-align: center;
            left: 1vw;
            right: 1vw;
            bottom: 2vw;
        }

/* Budget */

.budgetbackground {
    top: 77vw;
    left: 0px;
    right: 0px;
    height: 41vw;
    background-color: rgb(247, 247, 247);
}

.creditbackground {
    top: 77vw;
    left: 0px;
    right: 0px;
    height: 41vw;
    background-color: rgb(255, 255, 255);
}

.loanbackground {
    top: 77vw;
    left: 0px;
    right: 0px;
    height: 41vw;
    background-color: rgb(247, 247, 247);
}

.investmentbackground {
    top: 77vw;
    left: 0px;
    right: 0px;
    height: 41vw;
    background-color: rgb(255, 255, 255);
}

    .box1 {
        height: 30vw;
        left: 2vw;
        width: 20vw;
        top: 2vw;
        z-index: 20;
        text-align: center;
    }

    .box2 {
        height: 30vw;
        right: 2vw;
        width: 20vw;
        top: 2vw;
        z-index: 20;
        text-align: center;
    }

/* Image */

.image1 {
    width: 75%;
    height: 100%;
    right: 0vw;
    filter: brightness(75%);
}

.image2 {
    width: 75%;
    height: 100%;
    left: 0vw;
    filter: brightness(75%);
}

.image {
    top: 0vw;
    right: 0vw;
}

.image3 {
    width: 100%;
    height: auto;
    left: 0vw;
    right: 0VW;
    top: 0VW;
    filter: brightness(80%)
}

.image4 {
    width: 100%;
    height: 50%;
    left: 0vw;
    right: 0VW;
    top: 0VW;
    filter: brightness(80%)
}

/* General */

.bold {
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: rgb(177,177,177);
    padding-left: 2vw;
    padding-right: 2vw;
    left: 10vw;
    right: 10vw;

}

.ribbon {
    left: 0vw;
    width: 100%;
    top: 20vw;
    background-color: rgba(255, 255, 255, 0.616);
    height: 15vw;
    text-align: center;
}
.margin {
    top: 7vw;
    left: 5vw;
    right: 5vw;
    height: 10vw;
}


.grey {
    color:rgb(129, 129, 129);
}

.first {
    top: 77vw;
    left: 2vw;
    right: 2vw;
    height: 41vw;
}

.test {
    top: 20vw;
    left: 20vw;
    right: 20vw;
    height: 5vw;
    
}

.footer {
    background-color: rgb(255, 255, 255);
    top: 117.75vw;
    left: 0vw;
    right: 0vw;
    height: 20vw;
}
 
.footer2 {
    background-color: rgb(255, 255, 255);
    top: 130vw;
    left: 0vw;
    right: 0vw;
    height: 20vw;
}

.greenfooter {
    top: 0vw;
    right: 0vw;
    height: 100%;
    width: 40%;
    background-color: rgb(247, 247, 247)
}

.whitefooter {
    top: 0vw;
    left: 0vw;
    height: 100%;
    width: 60%;
    background-color: rgb(255, 255, 255);
}

a.learn-more {
    text-decoration: none;
    color: rgb(7,53,1);
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: 2vw;
    background-image: linear-gradient(to right, rgba(7,55,1,1), rgba(10,100,1,1));
    background-image: -webkit-linear-gradient(left,  rgba(7,55,1,1), rgba(10,100,1,1));
    background-image: -moz-linear-gradient(left,  rgba(7,55,1,1), rgba(10,100,1,1));
    background-image: -o-linear-gradient(left,  rgba(7,55,1,1), rgba(10,100,1,1));
    background-image: linear-gradient(to right, rgba(7,55,1,1), rgba(10,100,1,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a.learn-more:after {    
    bottom: -.2vw;
    content: "";
    display: block;
    height: .175vw;
    left: 3.5vw;
    position: absolute;
    background-image: linear-gradient(to right, rgba(7,55,1,1), rgba(10,100,1,1));
    background-image: -webkit-linear-gradient(left,  rgba(7,55,1,1), rgba(10,100,1,1));
    background-image: -moz-linear-gradient(left,  rgba(7,55,1,1), rgba(10,100,1,1));
    background-image: -o-linear-gradient(left,  rgba(7,55,1,1), rgba(10,100,1,1));
    background-image: linear-gradient(to right, rgba(7,55,1,1), rgba(10,100,1,1));
    transition: 0.3s ease 0s, left 0.3s ease 0s;
    width: 0vw;
}

  a.learn-more:hover:after { 
    width: 9.1vw; 
    left: 3.5vw; 
  }

  .little-box {
      left: 2vw;
      right: 2vw;
  }
  

  a.budget {
    text-decoration: none;
    color: rgb(7,53,1);
    font-size: 3vw;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: 2vw;
    background-image: linear-gradient(to right, rgba(7,55,1,1), rgba(10,100,1,1));
    background-image: -webkit-linear-gradient(left,  rgba(7,55,1,1), rgba(10,100,1,1));
    background-image: -moz-linear-gradient(left,  rgba(7,55,1,1), rgba(10,100,1,1));
    background-image: -o-linear-gradient(left,  rgba(7,55,1,1), rgba(10,100,1,1));
    background-image: linear-gradient(to right, rgba(7,55,1,1), rgba(10,100,1,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

a.budget:after {    
    bottom: 23.5vw;
    content: "";
    display: block;
    height: .2vw;
    left: 4.7vw;
    position: absolute;
    background-image: linear-gradient(to right, rgba(7,55,1,1), rgba(10,100,1,1));
    background-image: -webkit-linear-gradient(left,  rgba(7,55,1,1), rgba(10,100,1,1));
    background-image: -moz-linear-gradient(left,  rgba(7,55,1,1), rgba(10,100,1,1));
    background-image: -o-linear-gradient(left,  rgba(7,55,1,1), rgba(10,100,1,1));
    background-image: linear-gradient(to right, rgba(7,55,1,1), rgba(10,100,1,1));
    transition: 0.3s ease 0s, left 0.3s ease 0s;
    width: 0vw;
  }

  a.budget:hover:after { 
    width: 10.5vw; 
    left: 4.7vw; 
  }

  a.credit {
    text-decoration: none;
    color: rgb(7,53,1);
    font-size: 3vw;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: 2vw;
    background-image: linear-gradient(to right, rgba(7,55,1,1), rgba(10,100,1,1));
    background-image: -webkit-linear-gradient(left,  rgba(7,55,1,1), rgba(10,100,1,1));
    background-image: -moz-linear-gradient(left,  rgba(7,55,1,1), rgba(10,100,1,1));
    background-image: -o-linear-gradient(left,  rgba(7,55,1,1), rgba(10,100,1,1));
    background-image: linear-gradient(to right, rgba(7,55,1,1), rgba(10,100,1,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

a.credit:after {    
    bottom: 23.5vw;
    content: "";
    display: block;
    height: .2vw;
    left: 5.5vw;
    position: absolute;
    background-image: linear-gradient(to right, rgb(7, 55, 1), rgba(10,100,1,1));
    background-image: -webkit-linear-gradient(left,  rgba(7,55,1,1), rgba(10,100,1,1));
    background-image: -moz-linear-gradient(left,  rgba(7,55,1,1), rgba(10,100,1,1));
    background-image: -o-linear-gradient(left,  rgba(7,55,1,1), rgba(10,100,1,1));
    background-image: linear-gradient(to right, rgba(7,55,1,1), rgba(10,100,1,1));
    transition: 0.3s ease 0s, left 0.3s ease 0s;
    width: 0vw;
  }

  a.credit:hover:after { 
    width: 8.75vw; 
    left: 5.5vw; 
  }

  a.loan {
    text-decoration: none;
    color: rgb(7,53,1);
    font-size: 3vw;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: 2vw;
    background-image: linear-gradient(to right, rgba(7,55,1,1), rgba(10,100,1,1));
    background-image: -webkit-linear-gradient(left,  rgba(7,55,1,1), rgba(10,100,1,1));
    background-image: -moz-linear-gradient(left,  rgba(7,55,1,1), rgba(10,100,1,1));
    background-image: -o-linear-gradient(left,  rgba(7,55,1,1), rgba(10,100,1,1));
    background-image: linear-gradient(to right, rgba(7,55,1,1), rgba(10,100,1,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

a.loan:after {    
    bottom: 23.5vw;
    content: "";
    display: block;
    height: .2vw;
    left: 6.5vw;
    position: absolute;
    background-image: linear-gradient(to right, rgb(7, 55, 1), rgba(10,100,1,1));
    background-image: -webkit-linear-gradient(left,  rgba(7,55,1,1), rgba(10,100,1,1));
    background-image: -moz-linear-gradient(left,  rgba(7,55,1,1), rgba(10,100,1,1));
    background-image: -o-linear-gradient(left,  rgba(7,55,1,1), rgba(10,100,1,1));
    background-image: linear-gradient(to right, rgba(7,55,1,1), rgba(10,100,1,1));
    transition: 0.3s ease 0s, left 0.3s ease 0s;
    width: 0vw;
  }

  a.loan:hover:after { 
    width: 6.75vw; 
    left: 6.5vw; 
  }

  a.investment {
    left: 1vw;
    text-decoration: none;
    color: rgb(7,53,1);
    font-size: 3vw;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-top: 2vw;
    background-image: linear-gradient(to right, rgba(7,55,1,1), rgba(10,100,1,1));
    background-image: -webkit-linear-gradient(left,  rgba(7,55,1,1), rgba(10,100,1,1));
    background-image: -moz-linear-gradient(left,  rgba(7,55,1,1), rgba(10,100,1,1));
    background-image: -o-linear-gradient(left,  rgba(7,55,1,1), rgba(10,100,1,1));
    background-image: linear-gradient(to right, rgba(7,55,1,1), rgba(10,100,1,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

a.investment:after {    
    bottom: 23.5vw;
    content: "";
    display: block;
    height: .2vw;
    left: 1.75vw;
    position: absolute;
    background-image: linear-gradient(to right, rgb(7, 55, 1), rgba(10,100,1,1));
    background-image: -webkit-linear-gradient(left,  rgba(7,55,1,1), rgba(10,100,1,1));
    background-image: -moz-linear-gradient(left,  rgba(7,55,1,1), rgba(10,100,1,1));
    background-image: -o-linear-gradient(left,  rgba(7,55,1,1), rgba(10,100,1,1));
    background-image: linear-gradient(to right, rgba(7,55,1,1), rgba(10,100,1,1));
    transition: 0.3s ease 0s, left 0.3s ease 0s;
    width: 0vw;
  }

  a.investment:hover:after { 
    width: 18vw; 
    left: 1.75vw; 
  }

  a.about {
    text-decoration: none;
    color: white;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: 2vw;
    font-size: 1.5vw;
}

a.about:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: -.5vw;
    content: "";
    display: block;
    height: .2vw;
    left: 2.25vw;
    position: absolute;
    background-color: rgb(218,218,218);
    transition: 0.3s ease 0s, left 0.3s ease 0s;
    width: 0vw;
  }

  a.about:hover:after { 
    width: 4.5vw; 
    left: 2.25vw; 
  }


  a.faq {
    text-decoration: none;
    color: white;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: 2vw;
    font-size: 1.5vw;
}
 
a.faq:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: -.5vw;
    content: "";
    display: block;
    height: .2vw;
    left: 11.7vw;
    position: absolute;
    background-color: rgb(218,218,218);
    transition: 0.3s ease 0s, left 0.3s ease 0s;
    width: 0vw;
  }

  a.faq:hover:after { 
    width: 2.8vw; 
    left: 11.7vw; 
  }

  a.login {
    text-decoration: none;
    color: white;
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: 2vw;
    font-size: 1.5vw;
}

a.login:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: -.5vw;
    content: "";
    display: block;
    height: .2vw;
    left: 19.65vw;
    position: absolute;
    background-color: rgb(218,218,218);
    transition: 0.3s ease 0s, left 0.3s ease 0s;
    width: 0vw;
  }

  a.login:hover:after { 
    width: 4.1vw; 
    left: 19.65vw; 
  }


  a.class2:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: -.5vw;
    content: "";
    display: block;
    height: .1vw;
    left: 7.4vw;
    position: absolute;
    background: rgb(150, 150, 150);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a.class2:hover:after { 
    width: 4.9vw; 
    left: 7.4vw; 
  }

  a.class9:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: -.5vw;
    content: "";
    display: block;
    height: .1vw;
    left: 17.35vw;
    position: absolute;
    background: rgb(150, 150, 150);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a.class9:hover:after { 
    width: 4vw; 
    left: 17.35vw; 
  }
 
  a.class10:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: -.5vw;
    content: "";
    display: block;
    height: .1vw;
    left: 26.35vw;
    position: absolute;
    background: rgb(150, 150, 150);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a.class10:hover:after { 
    width: 3vw; 
    left: 26.45vw; 
  }

  a.class11:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: -.5vw;
    content: "";
    display: block;
    height: .1vw;
    left: 34.45vw;
    position: absolute;
    background: rgb(150, 150, 150);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  a.class11:hover:after { 
    width: 8.2vw; 
    left: 34.45vw; 
  }

  a.class12 {
    text-decoration: none;
    color: rgb(7,53,1);
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: 2vw;
    font-size: 2.75vw;
    background-image: linear-gradient(to right, rgba(7,55,1,1), rgba(10,100,1,1));
    background-image: -webkit-linear-gradient(left,  rgba(7,55,1,1), rgba(10,100,1,1));
    background-image: -moz-linear-gradient(left,  rgba(7,55,1,1), rgba(10,100,1,1));
    background-image: -o-linear-gradient(left,  rgba(7,55,1,1), rgba(10,100,1,1));
    background-image: linear-gradient(to right, rgba(7,55,1,1), rgba(10,100,1,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

a.class12:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 24vw;
    content: "";
    display: block;
    height: .2vw;
    left: 5.7vw;
    position: absolute;
    background: rgb(7, 53,1);
    transition: 0.3s ease 0s, left 0.3s ease 0s;
    width: 0vw;
    background: -webkit-linear-gradient(left, rgba(7,55,1,1) 25%, rgb(8, 70, 1) 50%,rgb(9, 85, 1) 75%,rgb(10, 100, 1 ) 100%);

  }

  a.class12:hover:after { 
    width: 8.75vw; 
    left: 5.7vw; 
  }

  .text-box {
      top: 10vw;
      left: 2vw;
      right: 2vw;
      line-height: 2.25vw;
  }

